body{
background-color: white;
margin: 60px 45px 35px 45px;
}

.main{
    font-style: serif;
}

.mono{
    font-style: monospace;
}

ul{
    list-style-type: square;
}

.maintenance{
    background: #f9f9f9;
    border: 1px solid #757474;
    padding-left: 5px;
    padding-right: 0px;
    margin: 20px;
    width: 400px;
}

.codebox{
    
    font-style: Courier;
    border-style:dotted;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: 20px;
    width: 760px;
    border-bottom-width: 2px;
}


.point1{
    font-weight: 700;
}

.point2{
    font-weight: 700;
}

.point3{
    font-weight: 700;
}

.point4{
    font-weight: 700;
}

.step{
    margin: 25px;
}

.commentcolor{
    color: darkgreen;
}

.codecolor{
    color: rgb(14, 255, 14);
}

.codecolor2{
    color:deeppink; 
}

.bigwords{
    font-weight:bold;
}

