body{
background-color: white;
margin: 60px 45px 35px 45px;
}

.heading{
    font-style: serif;
}

.mono{
    font-style: monospace;
}

ul{
    list-style-type: square;
}

.maintenance{
    background: #f9f9f9;
    border: 1px solid #757474;
    padding-left: 5px;
    padding-right: 0px;
    margin: 20px;
    width: 400px;
}

.smallcodebox{
    font-style: Courier;
    border-style:dotted;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: 20px;
    width: 760px;
    border-bottom-width: 2px;
}

.codebox{
    display: grid;
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: repeat(7, 400px);

    font-style: Courier;
    border-style:dotted;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: 20px;
    width: 760px;
    border-bottom-width: 2px;
}

.item{
    padding: 10px;
    border: 1px solid black;
}

.chapter{
    border-bottom: 3px solid;
}

.point1{
    font-weight: 700;
}


.step{
    margin: 25px;
}

.comment{
    color: darkgreen;
}

.specialcode{
    color: rgb(14, 255, 14);
}

.specialcode2{
    color:deeppink; 
}

.highlight{
    font-weight:bold;
}

